html , body{
    height: 100%;
}

.abc{
    text-align: center;
}

h3,p {
    text-align: center;
}

img{
    margin-left: 470px;
}

.div{
    display: flex;
}

.row{
    display: flex;

}

.marin-left{
    margin-left: auto;
}

.col-12{
    text-align: center;
}