h1{
    text-align: center;
    color:white;
    background-color: wheat;
}

h3{
    text-align: center;
    color:white;
    background-color: wheat;
}

h2{
    text-align: left;
    padding: 20px;
}

.div-cha{
    display: flex;
}

.div-thu-nhat{
    width:25%;
    height:300px;
    background-color: salmon;
}

.div-thu-hai{
    width:75%;
    height:300px;
    background-color: powderblue;
}

.padding{
    padding: 20px; /* padding dung de cang le */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}