<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <h1>Cities</h1>
    <div class="div-cha">
        <div class="div-thu-nhat">
            <ul style="list-style-type: none;">
                <li><a href="https://translate.google.com/?hl=vi">London</a>
                <li><a href="https://www.pinterest.com/">Paris</a></li>
                <li><a href="https://www.youtube.com/">Tokyo</a></li>
            </ul>
        </div>
        <div class="div-thu-hai">
            <h2>London</h2>
            <p class="padding">London is the capital city of England. It is the most populous city in the United Kingdom, with a
                metropolitan area of over 13 million inhabitants.</p> <!--Padding dung de can le-->
            <p class="padding">Standing on the River Thames, London has been a major settlement for two millennia, its history going
                back to its founding by the Romans, who named it Londinium.</p>
        </div>
    </div>

    <h3>Footer</h3><br>

    <form action="#" method="post" name="dangnhap">
        Tên đăng nhập :<input type="text" name="usernam" placeholder="Nhập tên của bạn" size="40"/><br>
        Mật khẩu:      <input type="password" name="matkhau" placeholder="Nhập mật khẩu" size="40"/><br>
        <input type="submit" value="Gửi đi"/>

    </form>
</body>

</html>