html, body{
    width: 100%;
    height: 100%;
}

.container{
    &--textWhite{
        color: white;
    }

    &--textDark{
        color: #424242;
    }

    &--textSize{
        font-size: 15px;
    }
}